# Игнорировать всё
*

# Но не игнорировать папки
!*/

# Показывать только .ipynb файлы
!*.ipynb

# Игнорировать вложенные Git-репозитории
connectpt/
street-pattern-classifier/

# Игнорировать папку data (если не хотите её отслеживать)
data/